:focus{outline:none}
.left{text-align:left}
.big{font-size:125%}
.bold{font-weight:bold}
.red{color:red}
body{
   background-color: #555;
   color: #fff;
   padding: 0;
   border: none;
   margin: 4px;
   text-align: center;
   font: 11px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{/*default upgrade/buyable style*/
   background-color: #aef;
   color: #000;
   height: auto;
   width: auto;
   padding: 4px 9px;
   border: 1px solid #0cf;
   border-radius: 10px;
   margin: 2px 0;
   text-align: center;
   font-size: 12px;
   font-family: inherit;
   cursor: pointer;
}
button[disabled]{
   background-color: #aaa;
   cursor: not-allowed;
}
option{padding:inherit}
select,input{
   background-color: #dfa;
   color: #000;
   padding: 0 2px;
   border: 1px solid #9f0;/*5 points: 9f0 f30 f0f 03f 0f9*/
   border-radius: 6px;
   font-family: inherit;
}
select{
   margin: 0;
   font-size: 12px;
}
input{
   margin: 0 3px;
   font-size: 15px;
}
input[type="range"]{
   height:12px;
   width:95%
}
table,th,td{border:none}
table{
   display: inline-block;
   font-size: 15px;
   border-collapse: collapse;
}
th,td{padding:0}
sup,sub{font-size:80%}
sub+sup{margin-left:-1ch}
.tooltip{
   display: none;
   background-color: rgba(0,0,0,0.8);
   color: #fff;
   position: absolute;
   bottom: 90%;
   left: 0;
   z-index: 1073741824;
   padding: 2px 5px;
   text-align: left;
   font-size: 12px;
   font-weight: normal;
}
:hover>.tooltip{display:inline-block}
/*General buttons*/
.cell{
   height: 172px;
   position: relative;
   padding: 4px;
   margin: 0;
   vertical-align:text-top;
}
.cellcolumn,.cell{width:172px}
.already{color:#fff}/*bought upgrades*/
.cell.already{background-color:#045}
.cell1{
   background-color: #afe;
   border: 1px solid #0fc;
}
.cell1.already{background-color:#054}
.cell2{
   background-color: #afc;
   border: 1px solid #0f6;
}
.cell2.already{background-color:#052}
.cell3{
   background-color: #afa;
   border: 1px solid #0f0;
}
.cell3.already{background-color:#050}
.cell4{
   background-color: #cfa;
   border: 1px solid #6f0;
}
.cell4.already{background-color:#250}
.cell5{
   background-color: #efa;
   border: 1px solid #cf0;
}
.cell5.already{background-color:#450}
.cell6{
   background-color: #fea;
   border: 1px solid #fc0;
}
.cell6.already{background-color:#540}
.cell7{
   background-color: #fca;
   border: 1px solid #f60;
}
.cell7.already{background-color:#520}
.cell8{
   background-color: #faa;
   border: 1px solid #f00;
}
.cell8.already{background-color:#500}
.cell9{
   background-color: #fac;
   border: 1px solid #f06;
}
.cell9.already{background-color:#502}
.cell10{
   background-color: #fae;
   border: 1px solid #f0c;
}
.cell10.already{background-color:#504}
.cell11{
   background-color: #eaf;
   border: 1px solid #c0f;
}
.cell11.already{background-color:#405}
.cell12{
   background-color: #caf;
   border: 1px solid #60f;
}
.cell12.already{background-color:#205}
.cell13{
   background-color: #aaf;
   border: 1px solid #00f;
}
.cell13.already{background-color:#005}
.cell14{
   background-color: #acf;
   border: 1px solid #06f;
}
.cell14.already{background-color:#025}
.itemrow{
   display: flex;
   align-items: center;
   margin: 2px;
   text-align: left;
   font-size: 15px;
}
.itemrow2,.column2{width:50%}
.itemrow3,.column3{width:33.33%}
.itemrow4,.column4{width:25%}
.column2,.column3,.column4,.cellcolumn{
   display: inline-block;
   vertical-align: text-top;
}
.prestige{
   min-width: 25%;
   min-height: 50px;
   position: relative;
   padding: 2px 5px;
   border-width: 2px;
   border-radius: 7px;
   font-size: 14px;
}
/*Alternative text*/
.alter{
   font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
   font-size: 18px;
   font-weight: 540;
   text-shadow: 0 -1px 3px;
}
.bigrow{
   margin: 6px;
   font-size: 18px;
}
/*Tab-selecting buttons*/
.tab0{
   position: absolute;
   top: 0;
   left: 2px;
   z-index: 16777216;
}
.tab0>button{
   background-color: #bfa;
   padding: 1px 4px 2px;
   border: 2px solid #3f0;
   border-radius: 7px;
   font-size: 15px;
   font-weight: 520;
}
.tab0>[disabled]{
   background-color: #2a0;
   color: #fff;
}
.tab>button{
   background-color: #fda;
   padding: 0 11px 5px;
   border: 2px solid #f90;
   border-radius: 20px;
   font-size: 32px;
   font-weight: bold;
}
.tab>[disabled]{
   background-color: #a60;
   color: #fff;
}
.tab2>button{
   background-color: #fba;
   padding: 0 9px 4px;
   border: 2px solid #f30;
   border-radius: 16px;
   font-size: 26px;
   font-weight: 520;
}
.tab2>[disabled]{
   background-color: #a20;
   color: #fff;
}
.tab3>button{
   background-color: #fab;
   padding: 0 7px 3px;
   border: 2px solid #f03;
   border-radius: 13px;
   font-size: 21px;
   font-weight: 520;
}
.tab3>[disabled]{
   background-color: #a02;
   color: #fff;
}
.tab4>button{
   background-color: #fad;
   padding: 0 6px 2px;
   border: 2px solid #f09;
   border-radius: 10px;
   font-size: 17px;
   font-weight: normal;
}
.tab4>[disabled]{
   background-color: #a06;
   color: #fff;
}
.tab5>button{
   background-color: #faf;
   padding: 0 5px 1px;
   border: 2px solid #f0f;
   border-radius: 8px;
   font-size: 14px;
   font-weight: normal;
}
.tab5>[disabled]{
   background-color: #a0a;
   color: #fff;
}
.tab6>button{
   background-color: #daf;
   padding: 0 4px 1px;
   border: 2px solid #90f;
   border-radius: 6px;
   font-size: 12px;
   font-weight: normal;
}
.tab6>[disabled]{
   background-color: #60a;
   color: #fff;
}
.tab7>button{
   background-color: #baf;
   padding: 0 4px 1px;
   border: 2px solid #30f;
   border-radius: 6px;
   font-size: 12px;
   font-weight: normal;
}
.tab7>[disabled]{
   background-color: #20a;
   color: #fff;
}
.tab8>button{
   background-color: #abf;
   padding: 0 4px 1px;
   border: 2px solid #03f;
   border-radius: 6px;
   font-size: 12px;
   font-weight: normal;
}
.tab8>[disabled]{
   background-color: #02a;
   color: #fff;
}
/*Challenges*/
.challenge{
   background-color: #ffa;
   height: 172px;
   width: 300px;
   position: relative;
   padding: 4px;
   border: 2px solid #ff0;
   margin: 0;
   vertical-align:text-top;
}
.challenge.already{background-color:#aa0}
/*Upgrades*/
.upg{
   height: 129px;
   width: 129px;
}
/*Achievements*/
.ach{
   height: 90px;
   width: 98px;
   position: relative;
   padding: 8px 0 0;
   border: 1px solid #000;
   border-radius: 12px;
   margin: 5px;
}
.ach>.tooltip{width:150%}
.achieved{
   background-color:#0f9;
   color:#000;
}
.achieverow{background-color:#0ff}
.achieverow-reward{
   color: #0ff;
   font-size: 18px;
   font-weight: 600;
   text-shadow: 1px 0 3px;
}
/*Automation*/
.autos select{font-size:15px}
.autos button{
   background-color: #adf;
   border: 1px solid #09f;
   padding: 1px 6px 3px;
   font-size: 15px;
   transition: .1s;
}
.autos .switchy{
   min-width: 60px;
   border: 2px solid #09f;
   font-size: 22px;
   font-weight: 500;
   transition: .1s;
}
/*Options*/
#loading{
   background-color: #555;
   position: fixed;
   z-index: 2147483647;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   font-size: 80px;
}
#setting{margin:40px 0}
#setting .itemrow{
   text-align: center;
   font-size: 20px;
   font-weight: 500;
}
#setting button{
   background-color: #adf;
   min-width: 80%;
   padding: 0 12px 4px;
   border: 3px solid #09f;
   font-size: 40px;
   font-weight: 500;
   transition: .2s;
}
#setting button:hover, .autos button:hover{
   background-color: #06a;
   color: #fff;
}
#setting select{font-size:20px}
#export{
   background-color: #555;
   position: fixed;
   top: 20%;
   left: 20%;
   height: 60%;
   width: 60%;
   border: 3px solid #fff;
   border-radius: 20px;
   padding: 15px;
}
#export>textarea{
   height: 75%;
   width: 99%;
   margin: 0 0 15px;
   font-size: 12px;
}
#export>button{min-width:auto}